<!doctype html>
<html>
<head>
    <meta charset='utf-8' />
    <title>{{pageTitle}}</title>
    <link rel='stylesheet' href='{{assetPrefix}}/css/styling.css'>
</head>
<body>
  <div class='container'>
    <div class='row'>
      <div class='col-md-1'></div>
      <div class='col-md-10'>
        {{{body}}}
      </div>
      <div class='col-md-1'></div>
    </div>
  </div>
</body>
</html>
