<!doctype html>
<html>
<head>
    <meta charset='utf-8' />
    <title>{{pageTitle}}</title>
    <link rel='stylesheet' href='{{assetPrefix}}/css/styling.css'>
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4463208.js"></script>
    <!-- End of HubSpot Embed Code -->
</head>
<body>
  <div class='container'>
    <div class='row'>
      <div class='col-md-1'></div>
      <div class='col-md-10'>
        {{{body}}}
      </div>
      <div class='col-md-1'></div>
    </div>
  </div>
</body>
</html>
