
<div class='page-header site-title'>
  <h1>{{title}}</h1>
  <nav>
    <ul class='nav nav-pills'>
      <li role='presentation'><label type='button' href='#' class='btn home-page-btn'>Join</label></li>
    </ul>
  </nav>
</div>
<div class='jumbotron site-hook'>
  <h1>Music Lovers...</h1>
  <p> 
    This is example text that isn't actually our site hook, but we'll work on that. If you want to learn more, join a session.
  </p>
  <p><label class='btn btn-lg home-page-btn' href='#' type='button'>Join Session</label></p>   
</div>
