$item-color: darken($canvas-color, 10%);
$item-color-hover: darken($item-color, 10%);

.contribution-list {
  display: flex;
  flex-direction: column;
  background-color: $canvas-color;
  padding: 5px;
}

.contribution-list-item {
  flex: 0 1 20%;
  width: 340px;
  height: 120px;
  background-color: $item-color;
  margin: 5px;
  &:hover {
    background-color: $item-color-hover;
  }
}

.contribution {
  text-align: center;
  width: 100%;
  height: 120px;
}

.contribution-content {
  margin-top: 20px;
}

.contribution-drop-valid-over {
  background-color: adjust-color($item-color, $green: 40%);
}

.contribution-drop-valid {
  background-color: adjust-color($item-color, $green: 20%);
}

.contribution-drop-invalid {
  background-color: adjust-color($item-color, $red: 20%);
}
